@using TreeServiceClient.Models.Requests.FolderModels
@using TreeServiceClient.Models.Responses.FolderModels
@model GetFolderResponse

<h2>Редактирование папки</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label>Название</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Id родительской папки</label>
        <input asp-for="ParentId" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary mt-3">Сохранить изменения</button>
    <a asp-action="Index" class="btn btn-secondary mt-3">Отменить</a>
</form>